<div class="card" style="margin: 5px;">
    <div class="card-header bg-primary text-white">
        Lista Perfis
    </div>
    <div class="card-body">
        <app-alert [message]="alertMessage" [type]="alertType"></app-alert>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perfil of perfis">
                    <th scope="row">{{ perfil.id }}</th>
                    <td>{{ perfil.nome }}</td>
                    <td>{{ perfil.descricao }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px"
                            (click)="goToEdit(perfil)">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm" style="margin-right: 5px"
                            (click)="onDelete(perfil.id)">Excluir</button>
                        <button type="button" class="btn btn-warning btn-sm"
                            (click)="goToUsuarios(perfil)">Usuarios</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success btn-sm" (click)="goToNew()">Novo</button>
    </div>
</div>