<ul class="nav nav-pills" style="background-color: lightgray;" *ngIf="isAuthenticated()">
  <!-- <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['auth']" routerLinkActive="active">Entrar</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" aria-current="page" [routerLink]="['home']" routerLinkActive="active">Início</a>
  </li>
  <li class="nav-item dropdown" *ngIf="getRoles().includes('ROLE_ADMIN')">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Usuários
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/usuarios">Lista</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/usuarios/0">Novo</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown" *ngIf="getRoles().includes('ROLE_ADMIN')">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Perfis
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/perfis">Lista</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/perfis/0">Novo</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown" *ngIf="getRoles().includes('ROLE_ADMIN') || getRoles().includes('ROLE_USER')">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"
      href="#">Clientes</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['clientes']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Lista</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" [routerLink]="['clientes', 0]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Novo</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <button class="btn btn-link nav-link" (click)="onLogout()">Sair</button>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Senhas
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" [routerLink]="['senhas','reset']" routerLinkActive="active">Reset</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><button class="btn btn-link nav-link" (click)="onAlterarSenha()">Alterar Senha</button>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
  <div class="navbar-text ms-auto" style="margin-right: 10px;">{{getUsuarioEmail()}}</div>
</ul>

<!-- <app-menu-bar></app-menu-bar> -->

<router-outlet></router-outlet>