<div class="card" style="margin: 5px;">
    <div class="card-header bg-primary text-white">
        Usuário {{ usuario.nome }} - Lista Perfis
    </div>
    <div class="card-body">
        <app-alert [message]="alertMessage" [type]="alertType"></app-alert>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perfil of perfisChecked">
                    <th scope="col" width="5%"><input class="form-check-input" type="checkbox"
                            [ngModel]="perfil.checked" (click)="onCheck(perfil)"></th>
                    <th scope="row">{{ perfil.id }}</th>
                    <td>{{ perfil.nome }}</td>
                    <td>{{ perfil.descricao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToUsuarios()"
            style="margin-right: 5px">Voltar</button>
        <button type="button" class="btn btn-success btn-sm" (click)="onSave()">Salvar</button>
    </div>
</div>