<div class="card" style="margin: 5px;">
    <div class="card-header bg-primary text-white">
        {{ usuario.id === 0 ? 'Incluir Usuário' : 'Editar Usuário' }}
    </div>
    <div class="card-body">

        <app-alert [message]="alertMessage" [type]="alertType"></app-alert>

        <form (ngSubmit)="onSubmit()" #telefoneForm="ngForm">

            <input type="hidden" [(ngModel)]="usuario.id" name="id">

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nome" required [(ngModel)]="usuario.nome"
                            name="nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="email" required [(ngModel)]="usuario.email"
                            name="email">
                        <label for="email">E-mail</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Salvar</button>
            <button type="button" class="btn btn-danger" (click)="goToUsuarios()">Cancelar</button>
        </form>
    </div>
</div>